<div class="container">
  
  <br/>
  
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Search users with goals like yours here</a>
    
    <div class="form-inline">
      <input id="searchee" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" onclick="searchFor()" >Search</button>
    </div>
  </nav>
  
  <hr/>
  
  <div class="row">
    <div class="col-md-2">
      <h5><a href="#">Title</a></h5>
    </div>
    <div class="col-md-3">
      <h5>Category</h5>
    </div>
    <div class="col-md-4">
      <h5 style="overflow: hidden;">Description</h5>
    </div>
    <div class="col-md-3">
      <span>StartDate TO EndDate</span>
    </div>
  </div>
  
  <hr/>
  
  {{#each goals}}
    <div class="row bg-light" style="padding: 5px;">
      <div class="col-md-2">
        <h5><a href="/goalPage/{{this.goalPageId}}">{{this.title}}</a></h5>
      </div>
      <div class="col-md-3">
        <h5>{{this.category}}</h5>
      </div>
      <div class="col-md-4">
        <h5 style="overflow: hidden; max-height: 26px;">{{this.descript}}</h5>
      </div>
      <div class="col-md-3">
        <span>{{this.start_date}} TO {{this.end_date}}</span>
      </div>
    </div>
  {{/each}}
  
  <hr/>
  
</div>

<div class="container">
  <button class="btn btn-outline-danger my-2 my-sm-0" onclick="nextPage()">Next Page</button>

  <script type="application/javascript">
    function nextPage(){
      var nextPage = parseInt(location.href.substr(location.href.lastIndexOf('/') + 1))+1;
      location.href = location.href.substr(0, location.href.lastIndexOf('/')) + "/" +  nextPage;
    }
    
    function searchFor(){
      location.href = ("/goal-scroller/" + document.getElementById("searchee").value + "/1");
    }
  </script>
</div>
